body{
	background-color: #EAEEEE;
}
/* MAIN CONTAINER */
.contentContainer{
	border: solid black 2px;
	height: 700px; width: 100%;
	margin-top: 100px;
	position: absolute;
}
.contentContainer h1{
	text-align: center;
	font-size: 50px;
	margin: 0 0 0 0;
}
.contentContainer .welcome{
	border: solid black 2px;
	height: 150px; width: 100%;
	margin-top: 70px;
}
.contentContainer .welcome p{
	font-size: 20px;
	text-align: center;
}

/* CONTAINER FOR THE BUTTON DIVS*/
.buttons{
	border: solid black 2px;
	height: 400px; width: 100%;

	
}
.buttons >div{
	border: solid blue 2px;
	height: 400px; width: 45%;
	display: inline-block;
	padding: 0 65px 0 0;

}
/*MAKE NEW WORLD*/
.buttons div&:first-child{
	float: left;
	
}
/*LIST OF WORLDS*/
.buttons div&:last-child{
	float: right;
	
	
	
}
